@charset "utf-8";
/*header('Content-type: test/css');*/

body {
    background-color: #bce2e5;
    color: #555;
    max-width: 1200px;
    margin: 10px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

img {
    padding: 5px;
    max-height: 200px;
    width: 125px;
}


button {
    font-size: 1rem;
    padding: 4px 10px;
    border: 2px solid #888888;
}

input,
select {
    font-size: 1rem;
    padding: 4px;
    border: 2px solid #888888;
}

a:visited {
    color: #6f42c1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #3395ff;
    text-decoration: none;
}

.article-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.price {
    font-size: 1.3rem;
    font-weight: bold;
}

.limitedSupply {
    color: red;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1pt solid grey;
    border-top: 1pt solid grey;
}

input:focus,
button:focus,
select:focus {
    outline: 2px solid #5d94ff;
}


center {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    padding-bottom: 5px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #212529;
        color: #ced4da;
    }

    center {
        background-color: #131618;
    }

    button,
    input,
    select {
        background-color: #131618;
        border-color: #495057;
        color: #f8f9fa;
    }
}

